<header class="header"></header>
<main>
  <div class="container-fluid mt-5" style="max-width: 1500px">
    <div class="row d-none d-lg-flex">
      <div class="col-7">
        <div class="container">
          <!-- Image carousel -->
          <div class="row">
            <div class="image-list column col-3">
              <div
                class="col-12 mb-2"
                *ngFor="let image of images"
                style="height: 150px; width: 150px"
              >
                <img
                  [src]="image"
                  class="img-thumbnail"
                  alt="Selected Image"
                  style="height: 100%; width: 100%; object-fit: cover"
                  (click)="currentImage = image"
                  [ngClass]="{ 'border-primary': currentImage == image }"
                />
              </div>
            </div>

            <div class="main-image col-8">
              <img
                [src]="currentImage"
                class="img-thumbnail"
                alt="Selected Image"
                style="height: 660px; width: 100%; object-fit: contain"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 py-2">
        <p class="display-5 mb-1" style="font-weight: bold">
          {{ publicacion.titulo }}
        </p>
        <h2 class="mb-4 text-secondary">
          Publicado el
          {{ publicacion.fecha | date : "dd 'de' MMMM 'del' yyyy" : "es" }}
        </h2>
        <h1 class="price mb-4" style="font-weight: bold">
          {{ publicacion.precio | currency : "MXN" }}
        </h1>
        <h2 class="mb-1">Descripcion</h2>
        <p class="description mb-4">
          {{ publicacion.descripcion }}
        </p>
        <h2 class="mb-1">Categoría</h2>
        <p class="description">
          {{ publicacion.categoria }}
        </p>
        <h2 class="mb-1">Información de contacto</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-auto">
              <img
                [src]="publicacion.autor.foto"
                class="rounded-circle"
                height="90px"
                width="90px"
              />
            </div>
            <div class="col">
              <p class="description mb-2">
                {{ publicacion.autor.nombre }} {{ publicacion.autor.apellido }}
              </p>
              <p class="description mb-2">
                <i class="bi bi-buildings"></i> {{ publicacion.autor.facultad }}
              </p>
              <p class="description mb-2">
                <i class="bi bi-telephone-fill"></i>
                {{ publicacion.autor.numero }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex d-lg-none">
      <div class="col-12">
        <p class="display-5 mx-5 mb-4" style="font-weight: bold">
          {{ publicacion.titulo }}
        </p>
      </div>
      <div class="col-12 mb-4">
        <div class="container">
          <!-- Image carousel -->
          <div class="row">
            <div class="image-list row col-12 justify-content-center mx-0">
              <div class="col-3 mb-2" *ngFor="let image of images">
                <img
                  [src]="image"
                  class="img-thumbnail"
                  alt="Selected Image"
                  style="
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                  "
                  (click)="currentImage = image"
                  [ngClass]="{ 'border-primary': currentImage == image }"
                />
              </div>
            </div>

            <div class="main-image col-12">
              <img
                [src]="currentImage"
                class="img-thumbnail"
                alt="Selected Image"
                style="
                  height: auto;
                  width: 100%;
                  object-fit: contain;
                  aspect-ratio: 1/1;
                "
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 px-5">
        <h2 class="mb-4 text-secondary">
          Publicado el
          {{ publicacion.fecha | date : "dd 'de' MMMM 'del' yyyy" : "es" }}
        </h2>
        <h1 class="price mb-4" style="font-weight: bold">
          {{ publicacion.precio | currency : "MXN" }}
        </h1>
        <h2 class="mb-1">Descripcion</h2>
        <p class="description mb-4">
          {{ publicacion.descripcion }}
        </p>
        <h2 class="mb-1">Categoría</h2>
        <p class="description">
          {{ publicacion.categoria }}
        </p>
        <h2 class="mb-1 text-center">Información de contacto</h2>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-auto">
              <img
                [src]="publicacion.autor.foto"
                class="rounded-circle"
                height="90px"
                width="90px"
              />
            </div>
            <div class="col-auto">
              <p class="description mb-2">
                {{ publicacion.autor.nombre }} {{ publicacion.autor.apellido }}
              </p>
              <p class="description mb-2">
                <i class="bi bi-buildings"></i> {{ publicacion.autor.facultad }}
              </p>
              <p class="description mb-2">
                <i class="bi bi-telephone-fill"></i>
                {{ publicacion.autor.numero }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-5" style="max-width: 1500px">
    <div class="row">
      <div class="col-12">
        <p class="display-6 mb-1" style="font-weight: bold">
          Nuestros usuarios también vieron:
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 col-md-4 col-lg-3 other-publicacion"
        *ngFor="let otherPublicacion of otherPublicaciones"
      >
        <img
          [src]="otherPublicacion.image"
          class="img-thumbnail"
          alt="Selected Image"
        />
        <p class="mb-0">
          {{ otherPublicacion.name }}
        </p>
        <p>
          <b>{{ otherPublicacion.price | currency : "MXN" }}</b>
        </p>
      </div>
    </div>
  </div>
</main>
