<header class="header"></header>
<main class="main-body">
  <h1 class="mt-3">Formulario de publicacion</h1>
  <form class="form-publicacion">
    <div class="mb-4">
      <label for="title" class="form-label">Título</label>
      <input type="email" class="form-control" id="title" />
    </div>
    <div class="mb-4">
      <label for="description" class="form-label">Descripción</label>
      <textarea class="form-control" id="description" rows="4"></textarea>
    </div>

    <div class="mb-4">
      <label for="basic-url" class="form-label">Precio</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">$</span>
        <input
          type="number"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
        />
      </div>
    </div>

    <div class="input-group mb-4">
      <label for="price" class="form-label">Categoria</label>
      <div class="input-group">
        <select
          class="form-select"
          aria-label="Default select example"
          id="select"
        >
          <option selected>Haz click para abrir el menu</option>
          <option value="producto">Producto</option>
          <option value="servicio">Servicio</option>
        </select>
      </div>
    </div>

    <!-- A file uploader with multiple files and show the files in a list -->
    <div class="mb-4">
      <label for="formFile" class="form-label">Cargar imágenes</label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        multiple
        accept="image/*"
        (change)="onImageSelected($event)"
      />
      <!-- file list -->
      <div class="container text-center mt-4">
        <div class="row">
          <div
            class="col-4"
            *ngFor="let image of uploadedImages"
            style="height: 150px"
          >
            <img
              [src]="image"
              class="img-thumbnail"
              alt="Selected Image"
              style="height: 100%"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit">Publicar</button>
    </div>
  </form>
</main>
