<header class="header"></header>
<main class="main-body">
  <div class="container-fluid py-5 form-wrapper">
    <div class="row">
      <div class="col-12">
        <h1 class="my-4 title text-center">
          Publicar nuevo producto o servicio
        </h1>
      </div>
      <div class="col-12">
        <form class="form-publicacion">
          <div class="my-4">
            <label for="title" class="form-label h5">Título</label>
            <input type="email" class="form-control" id="title" />
          </div>
          <div class="mb-4">
            <label for="description" class="form-label h5">Descripción</label>
            <textarea class="form-control" id="description" rows="4"></textarea>
          </div>

          <div class="mb-4">
            <label for="basic-url" class="form-label h5">Precio</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">$</span>
              <input
                type="number"
                class="form-control"
                id="basic-url"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>

          <div class="input-group mb-4">
            <label for="price" class="form-label h5">Categoria</label>
            <div class="input-group">
              <select
                class="form-select"
                aria-label="Default select example"
                id="select"
              >
                <option selected>Haz click para abrir el menu</option>
                <option value="producto">Producto</option>
                <option value="servicio">Servicio</option>
              </select>
            </div>
          </div>

          <!-- A file uploader with multiple files and show the files in a list -->
          <div class="mb-4">
            <label for="formFile" class="form-label h5">Cargar imágenes</label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              multiple
              accept="image/*"
              (change)="onImageSelected($event)"
            />
            <!-- file list -->
            <div class="container text-center mt-4">
              <div class="row">
                <div
                  class="col-4"
                  *ngFor="let image of uploadedImages"
                  style="height: 150px"
                >
                  <img
                    [src]="image"
                    class="img-thumbnail"
                    alt="Selected Image"
                    style="height: 100%"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#modalSuccess"
            >
              Publicar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="modalSuccess"
  tabindex="-1"
  aria-labelledby="modalProductoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalProductoLabel">
          Producto o servicio publicado
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Se ha publicado tu producto o servicio exitósamente, puedes verlo en la
        sección de publicaciones.
      </div>
      <div class="modal-footer">
        <!-- <button type="button" clas s="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
