<div class="header"></div>
<div class="fondo">
  <div class="anuncio">
    <div class="pregunta">¿Quieres vender un producto o servicio?</div>
    <div class="texto">
      En Market-UADY además de comprar, también puedes publicar tu
      emprendimiento
    </div>
    <div class="buttonEmpezar">
      <button type="button" class="btn">Empezar</button>
    </div>
  </div>
</div>
<div class="contenedor">
  <div class="filtros container">
    <h4>Filtros</h4>
    <h5>Filtrar por campus</h5>
    <cdk-virtual-scroll-viewport itemSize="50" class="scrollFiltro">
      <div *ngFor="let item of campus">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="item.seleccionado"
          (ngModelChange)="actualizarValoresFacultades(item, item.seleccionado)"
        />
        <label class="form-check-label" for="flexCheckChecked">
          {{ item.nombre }}
        </label>
      </div>
    </cdk-virtual-scroll-viewport>
    <h5>Filtrar por facultad</h5>
    <cdk-virtual-scroll-viewport itemSize="50" class="scrollFiltro">
      <div *ngFor="let item of facultades">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="item.seleccionado"
          (ngModelChange)="
            actualizarValoresCampus(item.idCampus, item.seleccionado)
          "
        />
        <label class="form-check-label">
          {{ item.nombre }}
        </label>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div></div>
  <cdk-virtual-scroll-viewport itemSize="50" class="scroll">

    <div class="lista-articulos">
      <div class="item" *ngFor="let item of publicaciones">
        <div class="imagen">
          <img src={{item.image}} class="rounded" />
        </div>
        <div class="nombreArticulo">{{ item.titulo }}</div>
        <div class="precioArticulo">{{ item.precio | currency }}</div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
