<div class="header"></div>
<div class="fondo">
  <div class="anuncio">
    <div class="pregunta">¿Quieres vender un producto o servicio?</div>
    <div class="texto">
      En Market-UADY además de comprar, también puedes publicar tu
      emprendimiento
    </div>
    <div class="buttonEmpezar">
      <button type="button" class="btn">Empezar</button>
    </div>
  </div>
</div>
<div class="contenedor">
  <div class="filtros container">
    <h3>Filtros</h3>
    <h4>Filtrar por título</h4>
    <div class="form-group col-12">
      <input   type="text"
      form class="form-control"
      autocomplete="off"
      [(ngModel)]="busqueda"
      (ngModelChange)="filtrarPublicaciones()"
 />
    </div>
    <h4>Filtrar por campus</h4>
    <cdk-virtual-scroll-viewport itemSize="50" class="scrollFiltro">
      <div *ngFor="let item of campus">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="item.seleccionado"
          (ngModelChange)="actualizarValoresFacultades(item, item.seleccionado)"
        />
        <label class="form-check-label" >
          {{ item.nombre }}
        </label>
      </div>
    </cdk-virtual-scroll-viewport>
    <h4>Filtrar por facultad</h4>
    <cdk-virtual-scroll-viewport itemSize="50" class="scrollFiltro">
      <div *ngFor="let item of facultades">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="item.seleccionado"
          (ngModelChange)="
            actualizarValoresCampus(item.idCampus, item.seleccionado)
          "
        />
        <label class="form-check-label">
          {{ item.nombre }}
        </label>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
<div class="container">
  <div *ngIf="spinner==true" class="spinnerPadre">
    <div class="text-center spinnerHijo">
      <div class="spinner-border " role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="publicaciones.length==0 && spinner!=true" class="spinnerPadre">
 <h1>SIN PUBLICACIONES</h1> 
  </div>

  <cdk-virtual-scroll-viewport itemSize="50" class="scroll" *ngIf="spinner==false && publicaciones.length!=0">
    <div class="lista-articulos">
      <div class="item" *ngFor="let item of publicaciones">
        <div class="imagen">
          <img src={{item.image}} class="rounded" />
        </div>
        <div class="nombreArticulo">{{ item.titulo }}</div>
        <div class="precioArticulo">{{ item.precio | currency }}</div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
 
</div>
