<div class="FondoN">
  <h3 class="titulo-superior">El sitio de emprendimiento para estudiantes de la Universidad Autónoma de Yucatán</h3>
  <header class="header">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="Logo" class="logoC" />
    </div>
    <div class="profile">
      <p>{{ perfil.nombres }} {{ perfil.apellidos }}</p>
      <div id="user-profile">
        <div class="dropdown">
          <div class="profile-image-container" id="menuBtn" onclick="toggleMenu(event)">
            <img src="{{ perfil.imagen }}" alt="Imagen de perfil" class="rounded" id="profile-image" />
          </div>
          <div class="dropdown-content" id="myDropdown">
            <a [routerLink]="['/dashboard/usuario/formulario-usuario']">Editar perfil</a>
            <a  (click)="redirectToLogout()">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
