<div class="FondoN">
    <h3 class="titulo-superior">El sitio de emprendimiento para estudiantes de la Universidad Autónoma de Yucatán</h3>
    <header class="header">
        <div class="social-media">
            <div class="social-icons">
                <a href="#"><i class="mdi mdi-facebook mdi-24px"></i></a>
                <a href="#"><i class="mdi mdi-twitter mdi-24px"></i></a>
                <a href="#"><i class="mdi mdi-instagram mdi-24px"></i></a>
                <a>Contacto</a>
            </div>
        </div>
        <div class="logo">
            <!-- <img src="ruta-al-logo.png" alt="Logo"> -->
        </div>
        <div class="profile">               
            <p>{{ nombreDeLaPersona }}</p>
              <!-- <img src="ruta-a-la-imagen-de-perfil.jpg" alt="Imagen de perfil" class="rounded"> -->
            
              <a href="#" style="color: rgb(0, 0, 0);"><i class="mdi mdi-account-circle mdi-36px"></i></a>
        </div>
    </header>
</div>
