<div class="header"></div>
<div class="fondo ">
    <div class="imagenPerfil">
      <img [src]="perfil.imagen" alt="Imagen de perfil" style="width: 180px; height: 180px;">
    </div>
  <div class="nombreUsuario">
    {{ perfil.nombres }} {{ perfil.apellidos }}          <img src="../../../../assets/editar.jpg" width="40px" height="40px" style="cursor: pointer;">
      <div class="datosUsuario">
        <div class="imagenEscuela">
          <img src="../../../../assets/escuela.jpg">
          {{ nombreFacultad }}
        </div>
        <div class="imagenEscuela">
            <img src="../../../../assets/whatsapp.png">
            {{ perfil.numeroContacto }}
        </div>
      </div>
</div>
</div>
<div class="productosTitulo">
Productos y/o servicios
<div class="buttonEmpezar">
    <button type="button" class="btn">+ Nuevo producto</button>
  </div>
</div>
<div class="lista-articulos">
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/torta.jpg"  class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Torta de jamón y queso</div>
      <div class="precioArticulo">{{25 | currency}}</div>
    </div>
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/licuado.jpg" class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Licuado de platano</div>
      <div class="precioArticulo">{{20 | currency}}</div>
    </div>
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/galleta.jpg"class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Galleta</div>
      <div class="precioArticulo">{{26 | currency}}</div>
    </div>
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/tarea.jpeg" class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Tarea</div>
      <div class="precioArticulo">{{100 | currency}}</div>
    </div>
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/salbute.jpeg" class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Salbutes</div>
      <div class="precioArticulo">{{18 | currency}}</div>
    </div>
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/taco.webp" class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Tacos</div>
      <div class="precioArticulo">{{12 | currency}}</div>
    </div>
    <div class="item">
      <div class="imagen">
        <img src="../../../../assets/guitarra.jpg" class="rounded" width="100%" height="100%"/>
        <img src="../../../../assets/editar.jpg" class="editar-btn" width="30px" height="30px">
        <img src="../../../../assets/eliminar.jpg" class="eliminar-btn" width="30px" height="30px">
      </div>
      <div class="nombreArticulo">Guitarra</div>
      <div class="precioArticulo">{{1200 | currency}}</div>
    </div>

  </div>
